<!DOCTYPE HTML>
<head>
	<title>
		{{.Title}}
	</title>
	<link rel = "stylesheet" href = "static/css/index.css"/>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="static/js/form.js"></script>

</head>

<body>
	<h1> Chess </h1>
	<div id = "CentralDiv">
		<span class="NewGameButton"><p>New Game</p></span>
		<span class="ResumeGameButton"><p>Resume</p></span>
		<form id = "NewGameForm" action="/view/new" method="POST">
		</form>
		{{.Body}}
	</div>
</body>

</html>